[tool.poetry]
name = "meshemy"
version = "0.3.1"
description = "Developer friendly suite for manipulating mesh"
authors = ["caniko <canhtart@gmail.com>"]
readme = "README.md"

[tool.poetry.dependencies]
python = ">=3.10,<3.11.0"
pydantic = "^1.10.4"

numpy = "^1.24.1"
pydantic-numpy = "^1.3.0"

bpy = "^3.4.0"
open3d = "0.16.0"
pymeshfix = "^0.16.2"

[tool.isort]
profile = "black"

[tool.black]
line-length = 120
target-version = ["py310"]

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

